In [48]:
import pandas as pd

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [49]:
data = pd.read_csv('ratings.csv')
data.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [62]:
filtered_data=data[data['rating'] ==5.0]
filtered_data.shape

(27133, 3)

In [52]:
data = filtered_data.groupby(['movieId','rating'])['rating'].count().reset_index(name="count")

In [63]:
data = data.sort_values(by='count', ascending = False)
data.shape

(27133, 3)

In [69]:
data1 = pd.read_csv('movies.csv')
data1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [74]:
data_merge= pd.merge(data, data1, how="left", on="movieId")            #with additional columns
data_merge.shape

(27133, 5)

In [76]:
data_merge = pd.merge(data,data1[['movieId','title']],on='movieId', how='left')       #only exact column
data_merge.head(5)

   movieId  rating  count                                      title
0      318     5.0  39553           Shawshank Redemption, The (1994)
1      296     5.0  32169                        Pulp Fiction (1994)
2      356     5.0  25918                        Forrest Gump (1994)
3      260     5.0  25804  Star Wars: Episode IV - A New Hope (1977)
4     2571     5.0  25482                         Matrix, The (1999)

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [92]:
data = pd.read_csv('power.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [148]:
filtered_countries = data[ (data['country']== 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia') ]
#filtered_countries.shape
filtered_categories = filtered_countries[ ((filtered_countries['category']== 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21))  ]
#filtered_categories.head()
filtered_year = filtered_categories[ (filtered_countries['year'] > 2005) | (filtered_countries['year'] < 2010) ]
#filtered_year.head()
summed_quantity=filtered_year.loc[filtered_year['quantity'] > 0, 'quantity'].sum()
summed_quantity

C:\Users\kadir01z\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

970728.0

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

In [159]:
data = pd.read_html('https://www.nationalbanken.dk/en/marketinfo/official_interestrates/Pages/default.aspx')
data[0]

,Interest rate type,Interest rate (p.a.),Applying as of,See graph
0,Current-account rate,0.00 per cent,1 June 2012,NaN
1,Certificates of deposit rate,-0.60 per cent,20 March 2020,NaN
2,Lending rate,0.05 per cent,20 January 2015,NaN
3,Discount rate,0.00 per cent,6 July 2012,NaN